body {
  background-color: lightcyan;
  background: url("https://www.ubackground.com/_ph/12/998938790.jpg");
}
#Dark {
  font-size: 35px;
  color: grey;
  font-family: "Helvetica" sans-serif;
}
#Light {
  color: whitesmoke;
}
.cyan {
  color: cyan;
}
button {
  text-transform: uppercase;
  background-color: black;
  color: cornsilk;
  border: none;
  padding: 6px;
  border-radius: 4px;
  letter-spacing: 1px;
}
button:hover {
  background: grey;
  border: solid black;
  color: darkblue;
  cursor: pointer;
}
